.typing{
    /* display: inline-block; */
    /* background-color: red; */
    animation: type 5s steps(10) infinite,blink 2s step-end infinite;
    /* overflow: hidden; */
    border-right: 2px solid white;
}
@keyframes type{
    0%
    {width:0ch}
    60%{
        width: 10ch;
    }
    100%{
        width:0ch;
    }

}
@keyframes blink{
    0%,100%
    {
        border-right: transparent;
    }
    50%{
        border-right:2px solid white;
    }
}
@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("./bootstrap-icons.woff2") format("woff2"),

}
/* .html{
    animation: html 10s ease-in 10s infinite ;
}
@keyframes html {
    0%{width: 0%;}
    90%{width: 90%;}
    
} */